header {
  height: 27rem;
}

p {
  position: absolute;
  color: white;
  top: 0rem;
  right: 1rem;
}

img {
  height: 27rem;
  width: 100%;
  @media(max-width: 1080px) {
      height: 15rem;
  }
  @media(max-width: 720px) {
      height: 10rem;
  }
  @media(max-width: 480px) {
      height: 5rem;
  }
}